{% extends "site/base.html" %}
{% load static %}
{% load main.templatetags.assets %}
{% get_static_prefix as STATIC_PREFIX %}
{% load crispy_forms_tags %}

{% block title %}
    <h1>Reset Password</h1>
{% endblock %}

{% block content %}
	<p>
		<div class="crop-img banner">
			<img src="{{ STATIC_PREFIX }}site/img/banner/Forgot.jpg" class="banner">
		</div>
	</p>
	<p>Can't remember your username or password?  Enter your username or email in the field below -- whichever you remember -- and we will send you an email with a link you can use to reset your password.</p>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
	<button class="btn btn-primary" type="submit">Submit</button>
	</form>
{% endblock %}
