{% extends "site/base.html" %}
{% load static %}
{% load main.templatetags.assets %}
{% get_static_prefix as STATIC_PREFIX %}
{% load crispy_forms_tags %}

{% block title %}
    <h1>Reset Password</h1>
{% endblock %}

{% block content %}
	<p>
		<div class="crop-img" style="max-width: 100%; width: 1100px; height: 300px;">
			<img src="{{ STATIC_PREFIX }}site/img/banner/Email.jpg" style="max-width: 100%; width: 1100px; height: auto;">
		</div>
	</p>
	<p>You should receive an email shortly with a link that will allow you to reset your password.</p>
{% endblock %}
