/venv
/dev
/doc
__pycache__/
.thumb/
trash/
*.bak
*.pyc
/proj/app/config/
/proj/data/saved/
/proj/.coverage
start_venv.bat
bin/start_venv.ps1
diff_proj.bat
.vscode/
/proj/dump.json
/proj/data/.test.json
/proj/debug.html
/proj/data/prod-new.db3
*-temp/
/proj/data/dump/