{% load maven %}
<div id="maven-{{ widget.name }}-widget" class="maven-admin-widget">
  <div class="maven-file-selector-widget">
		<input type="hidden" id="id_{{ widget.name }}" name="{{ widget.name }}" class="maven-input form-control"{% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
		<input type="text" id="id_{{ widget.name }}-maven-mirror" name="{{ widget.name }}-maven-mirror" class="maven-mirror form-control"{% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %} disabled>
		<br>
		<a class="btn btn-secondary" href="javascript:mavenFileSelectorWidgetSet('{{ widget.name }}', '{{ widget.url }}', 'file')">
			<i class="fas fa-folder"></i><div style="display: inline-block;">&nbsp;Browse</div>
		</a>
		<div style="display: inline-block; width: 2px;"></div>
		<a class="btn btn-danger" href="javascript:mavenFileSelectorWidgetClear('{{ widget.name }}', 'file')">
			<i class="fas fa-backspace"></i><div style="display: inline-block;">&nbsp;Clear</div>
		</a>
	</div>
</div>
{% include 'maven/component/script-vars.html' %}
