{% load assets %}
{% load maven %}

<div id="{{ id }}" class="maven">
	<div class="maven-dir-selector">
		<div class="maven-dir-selector">
			<div class="maven-wrapper">
				<div class="section">
					<div class="general-label">Path</div>
					<div class="crumbs-wrapper">
						<div class="crumbs">
							<table>
								<tr class="crumbs-data"></tr>
							</table>
						</div>
					</div>
				</div>
				<div class="gutter-3"></div>
				<div class="section">
					<div class="general-label">Directories</div>
					<div class="dir-select-list"></div>
				</div>
			</div>
		</div>
    </div>
</div>