{% load assets %}
{% load maven %}

<div id="{{ id }}" class="maven">
	<div class="maven-file-selector">
		<div class="maven-file-selector">
			<div class="maven-wrapper">
				<div class="section">
					<div class="general-label">Path</div>
					<div class="crumbs-wrapper">
						<div class="crumbs">
							<table>
								<tr class="crumbs-data"></tr>
							</table>
						</div>
					</div>
				</div>
				<div class="gutter-3"></div>
				<div class="section">
					<div class="tab-label">
						<div class="dir-tab view-tab">Directories</div>
						<div class="file-tab view-tab active">Files</div>
					</div>
					<div class="select-list-wrapper">
						<div class="select-list dir-select-list"></div>
						<div class="select-list file-select-list active"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>