{% extends "site/automated-email.html" %}
{% load static %}
{% load main.templatetags.assets %}
{% get_static_prefix as STATIC_PREFIX %}
{% load crispy_forms_tags %}

{% block message %}Hi <strong>{{ user.first_name }}</strong>!
<br>&nbsp;<br>
Did you recently request for a password reset for your account (username <strong>{{ user.username }}</strong>) on the <strong>Sacred Heart Catholic Church</strong> website?  If so, please click on the link below to change your password:
<br>&nbsp;<br>
<a href="http://{{ domain }}{% url 'user-password-reset-final' token=token %}">Reset Password Link</a>
<br>&nbsp;<br>
If you did not request a password reset, you do not need to take any additional action.  
<br>&nbsp;<br>
NOTE: This link will expire in 1 hour.
{% endblock %}
